<section class="span3">
    <div class="side-holder">
        <article class="banner-ad"><img src="/images/books1.jpg" alt="Banner Ad" /></article>
    </div>

    <div class="side-holder">
        <article class="shop-by-list">
            <h2>Shop by</h2>
            <div class="side-inner-holder">
                <strong class="title">Category</strong>
                <ul class="side-list">
                    <li><a href="#">Fiction (15)</a></li>
                    <li><a href="#">Healthcare (15)</a></li>
                    <li><a href="#">Technology (15)</a></li>
                    <li><a href="#">Science(15)</a></li>
                </ul>
                <strong class="title">Price</strong>
                <ul class="side-list">
                    <li><a href="#">$0.00 - $10,00.00 (13)</a></li>
                    <li><a href="#">$10,00.00 - $20,00.00 (2)</a></li>
                </ul>
                <strong class="title">Author</strong>
                <ul class="side-list">
                    <li><a href="#">Khalid Hoessini (9)</a></li>
                    <li><a href="#">William Blake (2)</a></li>
                    <li><a href="#">Anna Kathrinena (1)</a></li>
                    <li><a href="#">Gray Alvin (3)</a></li>
                </ul>
            </div>
        </article>
    </div>


    <div class="side-holder">
        <article class="l-reviews">
            <h2>Latest Reviews</h2>
            <div class="side-inner-holder">
                <article class="r-post">
                    <div class="r-img-title">
                        <img src="/images/image21.jpg" />
                        <div class="r-det-holder">
                            <strong class="r-author"><a href="#">The Kite Runner</a></strong>
                            <span class="r-by">by Khalid Hoessini</span>
                            <span class="rating-bar"><img src="/images/rating-star.png" alt="Rating Star"/></span>
                        </div>
                    </div>
                    <span class="r-type">Vivamus bibendum massa</span>
                    <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                    <span class="r-author">Review by BookShoppe’</span>
                </article>
                <article class="r-post">
                    <div class="r-img-title">
                        <img src="/images/image21.jpg" />
                        <div class="r-det-holder">
                            <strong class="r-author"><a href="#">The Kite Runner</a></strong>
                            <span class="r-by">by Khalid Hoessini</span>
                            <span class="rating-bar"><img src="/images/rating-star.png" alt="Rating Star"/></span>
                        </div>
                    </div>
                    <span class="r-type">Vivamus bibendum massa</span>
                    <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                    <span class="r-author">Review by BookShoppe’</span>
                </article>
            </div>
        </article>
    </div>


    <div class="side-holder">
        <article class="price-range">
            <h2>Price Range</h2>
            <div class="side-inner-holder">
                <p>Select the price range for better search</p>
                <div id="slider-range"></div>
                <p> <input type="text" id="amount" class="r-input"> </p>
            </div>
        </article>
    </div>


    <div class="side-holder">
        <article class="price-range">
            <h2>Community Poll</h2>
            <div class="side-inner-holder">
                <p>Who is your favourite American author?</p>
                <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Jane Austin
</label>
                <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
William Blake
</label>
                <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Keith Urban
</label>
                <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Anna Smith
</label>
                <a href="#" class="vote-btn">Vote</a>
            </div>
        </article>
    </div>

</section>