<section class="container-fluid footer-top1">
    <section class="container">
        <section class="row-fluid">
            <figure class="span3">
                <h4>Newsletter</h4>
                <p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
                <input name="" type="text" class="field-bg" value="Enter Your Email" />
                <input name="" type="submit" value="Subscribe" class="sub-btn" />
            </figure>
            <figure class="span3">
                <h4>Twitter</h4>
                <ul class="tweets-list">
                    <li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
                    <li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
                </ul>
            </figure>
            <figure class="span3">
                <h4>Location</h4>
                <p>5/23, Loft Towers, Business Center, 6th Floor, Media City, Dubai.</p>
                <span>
<ul class="phon-list">
<li>(971) 438-555-314</li>
<li>(971) 367-252-333</li>
</ul>
</span> <span class="mail-list"> <a href="#">info@companyname</a><br/>
<a href="#"><span class="__cf_email__" data-cfemail="32585d504172515d5f42535c4b5c535f571c515d5f">[email&#160;protected]</span>
                <script cf-hash='f9e31' type="text/javascript">
                    /* <![CDATA[ */ ! function() {
                        try {
                            var t = "currentScript" in document ? document.currentScript : function() {
                                for (var t = document.getElementsByTagName("script"), e = t.length; e--;)
                                    if (t[e].getAttribute("cf-hash")) return t[e]
                            }();
                            if (t && t.previousSibling) {
                                var e, r, n, i, c = t.previousSibling,
                                    a = c.getAttribute("data-cfemail");
                                if (a) {
                                    for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2) i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i);
                                    e = document.createTextNode(e), c.parentNode.replaceChild(e, c)
                                }
                            }
                        } catch (u) {}
                    }(); /* ]]>*/
                </script>
                </a>
                </span>
            </figure>
            <figure class="span3">
                <h4>Opening Time</h4>
                <p>Monday-Friday ______8.00 to 18.00</p>
                <p>Saturday ____________ 9.00 to 18.00</p>
                <p>Sunday _____________10.00 to 16.00</p>
                <p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </figure>
        </section>
    </section>
</section>