<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Tieu Long Lanh Kute -->

<head>
    <title>Contact Us</title>
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/main-slider.css" />
    <!--[if lte IE 10]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
    <noscript>
<link rel="stylesheet" type="text/css" href="css/noJS.css"/>
</noscript>


    <link href="css/switcher.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" name="skins" href="css/default.css" type="text/css" media="all">


</head>

<body>

    <div class="wrapper">


        <%- include('../partials/header.ejs'); %>



            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>Contact Us</h2>
                        <span class="h-line"></span> </div>

                    <section class="span9 first">

                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner1.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <section class="map-holder">
                            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.mu/?ie=UTF8&amp;ll=-20.234496,57.603722&amp;spn=0.093419,0.169086&amp;t=m&amp;z=13&amp;output=embed"></iframe>
                        </section>

                        <div class="span6 c-form-holder first">

                            <form class="form-horizontal" method="post" action="http://html.crunchpress.com/book-store/contact.php">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Name <sup>*</sup></label>
                                    <div class="controls">
                                        <input type="text" name="name" id="inputEmail" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Email <sup>*</sup></label>
                                    <div class="controls">
                                        <input type="text" name="email" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Subject <sup>*</sup></label>
                                    <div class="controls">
                                        <input type="text" name="subject" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Message <sup>*</sup></label>
                                    <div class="controls">
                                        <textarea name="comments" id="comments_area" cols="2" rows="20"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="more-btn2">SEND REQUEST</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="span6">
                            <strong>Contact Info</strong>
                            <p>Office No. 23, 1st Floor,<br/> Media City, Dubai, <br/>UAE.</p>
                            <p>Phone: (123) 456-7890 <br/>Fax: +08 (123) 456-7890 <br/>Email: <a href="#"><span class="__cf_email__" data-cfemail="d2b1bdbca6b3b1a692b1bdbfa2b3bcabbcb3bfb7fcb1bdbf">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>                                <br/>Web: <a href="#">companyname.com</a></p>
                            <strong>Dummy Text</strong>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </section>


                    <%- include('../partials/sidebar.ejs'); %>



                </section>
            </section>



            <%- include('../partials/footer.ejs'); %>

    </div>


    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/bs.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/input-clear.js"></script>
    <script src="js/range-slider.js"></script>
    <script src="js/jquery.zoom.js"></script>
    <script type="text/javascript" src="js/bookblock.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/social.js"></script>

    <noscript>
<style>#socialicons>a span{top:0px;left:-100%;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}#socialicons>ahover div{left:0px;}</style>
</noscript>
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function() {
                $('.social_active').hoverdir({});
            })
            /* ]]> */
    </script>
    <div class="switcher"></div>

    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="js/colorswitcher.js"></script>

</body>

<!-- Tieu Long Lanh Kute -->

</html>