<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Tieu Long Lanh Kute -->

<head>
    <title>List View</title>
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/main-slider.css" />
    <!--[if lte IE 10]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
    <noscript>
<link rel="stylesheet" type="text/css" href="css/noJS.css"/>
</noscript>


    <link href="css/switcher.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" name="skins" href="css/default.css" type="text/css" media="all">


</head>

<body>

    <div class="wrapper">


        <%- include('../partials/header.ejs'); %>

            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>List View</h2>
                        <span class="h-line"></span>
                    </div>

                    <section class="span9 first">

                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner1.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <div class="product_sort">
                            <div class="row-1">
                                <div class="left">
                                    <span class="s-title">Sort by</span>
                                    <span class="list-nav">
<select name="">
<option>Position</option>
<option>Position 2</option>
<option>Position 3</option>
<option>Position 4</option>
</select>
</span>
                                </div>
                                <div class="right">
                                    <span>Show</span>
                                    <span>
<select name="">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
</select>
</span>
                                    <span>per page</span>
                                </div>
                            </div>
                            <div class="row-2">
                                <span class="left">Items 1 to 9 of 15 total</span>
                                <ul class="product_view">
                                    <li>View as:</li>
                                    <li>
                                        <a class="grid-view" href="grid-view.html">Grid View</a>
                                    </li>
                                    <li>
                                        <a class="list-view" href="list-view.html">List View</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <section class="list-holder">
                            <article class="item-holder">
                                <div class="span2">
                                    <a href="book-detail.html"><img src="images/image09.jpg" alt="Image07" /></a>
                                </div>
                                <div class="span10">
                                    <div class="title-bar"><a href="book-detail.html">The Kite Runner</a> <span>by Khalid Hoessini</span></div>
                                    <strong>1 Reviews</strong>
                                    <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </p>
                                    <div class="cart-price">
                                        <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                        <span class="price">$129.90</span>
                                    </div>
                                </div>
                            </article>
                            <article class="item-holder">
                                <div class="span2">
                                    <a href="book-detail.html"><img src="images/image08.jpg" alt="Image07" /></a>
                                </div>
                                <div class="span10">
                                    <div class="title-bar"><a href="book-detail.html">The Kite Runner</a> <span>by Khalid Hoessini</span></div>
                                    <strong>1 Reviews</strong>
                                    <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </p>
                                    <div class="cart-price">
                                        <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                        <span class="price">$129.90</span>
                                    </div>
                                </div>
                            </article>
                            <article class="item-holder">
                                <div class="span2">
                                    <a href="book-detail.html"><img src="images/image06.jpg" alt="Image07" /></a>
                                </div>
                                <div class="span10">
                                    <div class="title-bar"><a href="book-detail.html">The Kite Runner</a> <span>by Khalid Hoessini</span></div>
                                    <strong>1 Reviews</strong>
                                    <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </p>
                                    <div class="cart-price">
                                        <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                        <span class="price">$129.90</span>
                                    </div>
                                </div>
                            </article>
                            <article class="item-holder">
                                <div class="span2">
                                    <a href="book-detail.html"><img src="images/image08.jpg" alt="Image07" /></a>
                                </div>
                                <div class="span10">
                                    <div class="title-bar"><a href="book-detail.html">The Kite Runner</a> <span>by Khalid Hoessini</span></div>
                                    <strong>1 Reviews</strong>
                                    <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </p>
                                    <div class="cart-price">
                                        <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                        <span class="price">$129.90</span>
                                    </div>
                                </div>
                            </article>
                            <article class="item-holder">
                                <div class="span2">
                                    <a href="book-detail.html"><img src="images/image09.jpg" alt="Image07" /></a>
                                </div>
                                <div class="span10">
                                    <div class="title-bar"><a href="book-detail.html">The Kite Runner</a> <span>by Khalid Hoessini</span></div>
                                    <strong>1 Reviews</strong>
                                    <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </p>
                                    <div class="cart-price">
                                        <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                        <span class="price">$129.90</span>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div class="blog-footer">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                            <ul class="product_view">
                                <li>View as:</li>
                                <li><a class="grid-view" href="grid-view.html">Grid View</a></li>
                                <li><a class="list-view" href="list-view.html">List View</a></li>
                            </ul>
                        </div>

                    </section>


                    <section class="span3">
                        <div class="side-holder">
                            <article class="banner-ad"><img src="images/books.jpg" alt="Banner Ad" /></article>
                        </div>

                        <div class="side-holder">
                            <article class="shop-by-list">
                                <h2>Shop by</h2>
                                <div class="side-inner-holder">
                                    <strong class="title">Category</strong>
                                    <ul class="side-list">
                                        <li><a href="grid-view.html">Fiction (15)</a></li>
                                        <li><a href="grid-view.html">Healthcare (15)</a></li>
                                        <li><a href="grid-view.html">Technology (15)</a></li>
                                        <li><a href="grid-view.html">Science(15)</a></li>
                                    </ul>
                                    <strong class="title">Price</strong>
                                    <ul class="side-list">
                                        <li><a href="#">$0.00 - $10,00.00 (13)</a></li>
                                        <li><a href="#">$10,00.00 - $20,00.00 (2)</a></li>
                                    </ul>
                                    <strong class="title">Author</strong>
                                    <ul class="side-list">
                                        <li><a href="book-detail.html">Khalid Hoessini (9)</a></li>
                                        <li><a href="book-detail.html">William Blake (2)</a></li>
                                        <li><a href="book-detail.html">Anna Kathrinena (1)</a></li>
                                        <li><a href="book-detail.html">Gray Alvin (3)</a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>


                        <div class="side-holder">
                            <article class="l-reviews">
                                <h2>Latest Reviews</h2>
                                <div class="side-inner-holder">
                                    <article class="r-post">
                                        <div class="r-img-title">
                                            <img src="images/image21.jpg" />
                                            <div class="r-det-holder">
                                                <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                                <span class="r-by">by Khalid Hoessini</span>
                                                <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                                            </div>
                                        </div>
                                        <span class="r-type">Vivamus bibendum massa</span>
                                        <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                                        <span class="r-author">Review by BookShoppe’</span>
                                    </article>
                                    <article class="r-post">
                                        <div class="r-img-title">
                                            <img src="images/image21.jpg" />
                                            <div class="r-det-holder">
                                                <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                                <span class="r-by">by Khalid Hoessini</span>
                                                <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                                            </div>
                                        </div>
                                        <span class="r-type">Vivamus bibendum massa</span>
                                        <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                                        <span class="r-author">Review by BookShoppe’</span>
                                    </article>
                                </div>
                            </article>
                        </div>


                        <div class="side-holder">
                            <article class="price-range">
                                <h2>Price Range</h2>
                                <div class="side-inner-holder">
                                    <p>Select the price range for better search</p>
                                    <div id="slider-range"></div>
                                    <p> <input type="text" id="amount" class="r-input"> </p>
                                </div>
                            </article>
                        </div>


                        <div class="side-holder">
                            <article class="price-range">
                                <h2>Community Poll</h2>
                                <div class="side-inner-holder">
                                    <p>Who is your favourite American author?</p>
                                    <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Jane Austin
</label>
                                    <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
William Blake
</label>
                                    <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Keith Urban
</label>
                                    <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Anna Smith
</label>
                                    <a href="#" class="vote-btn">Vote</a>
                                </div>
                            </article>
                        </div>

                    </section>

                </section>
            </section>

            <%- include('../partials/footer.ejs'); %>
    </div>


    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/bs.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/input-clear.js"></script>
    <script src="js/range-slider.js"></script>
    <script src="js/jquery.zoom.js"></script>
    <script type="text/javascript" src="js/bookblock.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/social.js"></script>

    <noscript>
<style>#socialicons>a span{top:0px;left:-100%;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}#socialicons>ahover div{left:0px;}</style>
</noscript>
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function() {
                $('.social_active').hoverdir({});
            })
            /* ]]> */
    </script>
    <div class="switcher"></div>

    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="js/colorswitcher.js"></script>

</body>

<!-- Tieu Long Lanh Kute -->

</html>