<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Tieu Long Lanh Kute -->

<head>
    <title>Blog Detail</title>
    <%- include('../partials/head.ejs'); %>
</head>

<body>

    <div class="wrapper">


        <%- include('../partials/header.ejs'); %>



            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>News</h2>
                        <span class="h-line"></span>
                    </div>

                    <section class="span9 first">

                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner1.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <article class="b-post blog-detail">
                            <h3>Demo post title</h3>
                            <div class="b-post-img">
                                <img src="images/image37.jpg" alt="Blog Post" />
                            </div>
                            <div class="b-post-bottom">
                                <ul class="post-nav">
                                    <li>Posted by <a href="#">Admin </a></li>
                                    <li>on May 07, 2013</li>
                                    <li><a href="#">2 Comments</a></li>
                                </ul>
                                <a href="#" class="more-btn">Read More</a>
                            </div>
                            <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                                into electronic typesetting,essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum. It was popularised in the release of Letraset sheets containing.</p>
                            <div class="blog-quote">
                                <p> <i class="icon-quote-left"></i> <em>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
but also the leap into electronic typesetting, remaining essentially unchanged.</em></p>
                            </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                                into electronic typesetting,essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum. It was popularised in the release of Letraset sheets containing.</p>
                        </article>

                        <h4>Leave a review</h4>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Name <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Email <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="inputPassword" placeholder="">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Review <sup>*</sup></label>
                                <div class="controls">
                                    <textarea name="" cols="2" rows="20"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">POST Comment</button>
                                </div>
                            </div>
                        </form>


                    </section>


                    <%- include('../partials/sidebar.ejs'); %>


                </section>
            </section>


            <%- include('../partials/footer.ejs'); %>